[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,json,html,scss,css,less}]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[{.babelrc,.eslintrc,package.json}]
charset = utf-8
end_of_line = lf
