{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "react/forbid-prop-types": 0,
    "react/jsx-no-bind": 0,
    "strict": 0,
    "no-mixed-operators": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "no-param-reassign": 0,
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "__INITIAL_STATE__",
          "__"
        ]
      }
    ],
    "max-len": [
      2,
      120
    ]
  },
  "globals": {
    "fetch": false,
    "document": false,
    "window": false
  }
}
