.DoingCreate {
  position: relative;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 7px 15px;

  .navigation {
    text-align: right;
  }

  .wrapper {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
  }
  .editor {
    min-height: 50px;
    position: relative;
    background: #fff;
    z-index: 2;
    &:empty {
      background: transparent;
    }
  }

  .back {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
}
